<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjh.library.common.mapper.SysUserMapper">

    <select id="getUserRoles" resultType="java.lang.String">
        select role.name
        from sys_user_role_relation user_role
                 left join sys_role role on user_role.role_id = role.id
        where user_role.user_id = #{uid} and role.deleted = 0
    </select>


    <resultMap id="BorrowerInfoVo" type="com.xjh.library.module.admin.entity.BorrowerInfoVo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="borrowMaxNum" property="borrowMaxNum"/>
        <result column="borrowedNum" property="borrowedNum"/>
    </resultMap>
    <select id="getPageBorrowerInfo" resultMap="BorrowerInfoVo">
        select
            user.id as id,
            user.username as username,
            user.email as email,
            user.status as status,
            resource.borrow_max_num as borrowMaxNum,
            resource.borrowed_num as borrowedNum
        from sys_user user
            left join sys_user_role_relation user_role on user_role.user_id = user.id
            left join user_resource resource on user.id = resource.user_id
        where user.deleted = 0 and user_role.role_id = 2
    </select>
</mapper>
